<form action="/login" method="post">
  <dl>
    <dt><label for="name">User Name:</label></dt>
    <dd><input type="text" name="name" id="name" value=""></dd>

    <dt><label for="password">Password:</label></dt>
    <dd><input type="password" name="password" id="password" value=""></dd>
  </dl>

  <input type="submit" value="Save">
</form>